@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600;700&display=swap');

:root {
    --cor-primaria: #3C4048;
    --cor-secundaria: #EAEAEA;
    --cor-terciaria: #B2B2B2;
    --cor-hover: #B2B2B2;

    --fonte-titulo: 'Krona One', sans-serif;
    --fonte-texto: 'Montserrat', sans-serif;

    --tamanho-titulo: 2.25rem;
    --tamanho-texto: 1.5rem;
    --tamanho-rodape: 1.5rem;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    box-sizing: border-box;
}

.cabecalho {
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-texto);
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.apresentacao {
    padding: 8% 15%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo {
    font-size: var(--tamanho-titulo);
    font-family: var(--fonte-titulo);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto {
    font-size: 1.5rem;
    font-family: var(--fonte-texto);
}

.apresentacao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-titulo);
    font-size: var(--tamanho-texto);
    font-weight: 400;
}

.apresentacao__links__navegacao {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    padding: 21.5px 0;
    border-radius: 8px;
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-texto);
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.apresentacao__links__navegacao:hover {
    background-color: var(--cor-hover);
}
.apresentacao__links__navegacao__logo {
    border: 0px;
    width: 32px;
    height: 32px;
}

.apresentacao_imagem {
    width: 50%;
    border-radius: 15px;
    border: 2px solid var(--cor-terciaria);
}

.rodape {
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 8px;
    text-align: center;
    font-family: var(--fonte-texto);
    font-size: var(--tamanho-rodape);
    font-weight: 400;
}

@media (max-width: 1200px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
    }
    
    .apresentacao {
        flex-direction: column-reverse;
        align-items: center;
        padding: 5%;
    }

    .apresentacao__conteudo {
        width: auto;
    }
}